.input-container {
  margin-top: 13vh;
  width: 75vw; /* 70% of window width */
  height: 65vh; /* 60% of window height */
  background-color: white;
  box-sizing: border-box;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Evenly splits the 30% width (15% left, 15% right) */
  align-items: flex-end;
  padding: 5% 2% 2% 2%;
}

.top-container {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Evenly splits the 30% width (15% left, 15% right) */
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", "Noto Sans Khmer",
    arial, sans-serif;
}

.form-floating {
  width: 50%; /* Makes the input area take up half the container */
  margin-top: 2rem; /* Adjust this to align vertically with H1 */
}